# Column Manipulation of Pandas DataFrames

### 1. Import libraries and dependencies

In [18]:
# Import pandas, pathlib, and numpy libraries
import pandas as pd
import numpy as np
from pathlib import Path

### 2. Create a Path to the File Using Pathlib

In [2]:
# Use the Pathlib libary to set the path to the CSV
people_rec_df = Path("../resources/people_reordered.csv")
people_df = Path("../resources/people.csv")

### 3. Read the CSV into a Pandas DataFrame and Display a Few Rows

In [3]:
# Use the file path to read the CSV into a DataFrame and display a few rows
people_rec_df = pd.read_csv(people_rec_df)
people_df = pd.read_csv(people_df)
people_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 4. View Column Names

In [4]:
# Use the `columns` attribute to output the column names
#people_df.columns

### 5. View Column Data Types

In [5]:
# Use the `dtypes` attribute to output the column names and data types
people_df.dtypes

id            float64
first_name     object
last_name      object
email          object
gender         object
uni_grad       object
job_title      object
Income        float64
dtype: object

### 6. Rename Columns Using List

In [6]:
# Set the `columns` attribute to a new list of column names
#people_df.columns = ["Person_ID", "First_Name", "Last_Name", "Email", "Gender", "University", "Occupation", "Salary"]
#people_df.head()

### 7. Rename Columns Using Dictionary

In [7]:
# Use the `rename` function and set the `columns` parameter to a dictionary of new column

#people_df = people_df.rename(columns{"People":"R_People", "First_Name":"R_Firs_Name", "Last_Name":"R_Last_Name", "Email":"R_Email", "Gender":"R_Gender", "R_U":"R_University", "R":"R_Occupation", "r":"R_Salary"})
#people_df = people_df.rename({"Person_ID":"IDname","First_Name":"nick_name",""}, axis=1)
#people_df.head()

### 8. Re-order Columns

In [8]:
# Use a list of re-ordered column names to alter the column order of the original DataFrame
#people_df[["nick_name", "IDname", "Last_Name", "Email", "Gender","University","Occupation","Salry"], axis=1, inplace=True]
#people_df.head()

In [9]:
people_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 9. Create Additional Column

In [20]:
# Use the `randint` function to randomly generate an `Age` from 22 to 65 for 1000 rows
age_list =[1,2,3,4,5,6,7]
people_df["Age"] = np.random.randint(low=22,high=65,size=1000)
people_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income,Age
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0,50
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0,43
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0,59
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,56
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0,55

In [ ]:
### 10. Delete Columns

In [22]:
# Use the `drop` function to delete the newly created `Age_Copy` column
people_df = people_df.drop(columns="Age")

KeyError: "['Age'] not found in axis"

In [23]:
people_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

### 11. Save Modified DataFrame to New CSV

In [24]:
# Save the DataFrame to the `Resources` folder
people_df.to_csv("../Resources/new_people.csv")